services:
  - type: web
    name: password-generator-backend
    env: docker
    region: oregon
    plan: free
    dockerContext: ./backend
    dockerfilePath: ./backend/Dockerfile
    healthCheckPath: /actuator/health
    envVars:
      - key: PORT
        value: 8080
